.card1{
    background-color: #421e1e;
     border-color:#d36c6c;
     
}
.card2{
    
    background-color: #421e1e;
 border-color:#d36c6c
}
.card3{
    background-color: #421e1e;
    border-color:#d36c6c
}



.feature{
    background-image:linear-gradient(to bottom, rgb(53, 13, 13) ,rgb(102, 11, 11));
}


